body{
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-image:url("../img/background_img.jpg");
}
.cont
{
  position: absolute;

  top: 30%;
  right: 35%;
  text-align: center;
  width: 30%;
  height: 40%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3  );
}
.title
{
  font-family: monospace;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.btn{
  width: 200px;
  height: auto;
  color:#fff;
  background-color:rgb(5, 176, 249);
  position: absolute;
  top: 80%;
  left:60%;
}
#enter{
  width: auto;
  height: 30px;
  background-color:rgb(22, 174, 222);
}
a{
  color: #fff;
  text-decoration: none;
}
